@import "../../../assets/scss/colors";
@import "../../../assets/scss/mixins";
@import "../../../assets/scss/typography";

//settings
$quest-size: $font-size--md;
$quest-weight: $font-weight--medium;
$quest-color-active: $accent-1;

$quest-icon-color: $base-2;
$quest-icon-size: ($font-size--sm * 1.15);
$quest-icon-weight: $font-weight;

//styles
.faqCard_quest {
	@include transition-mix();

	display: flex;
	justify-content: space-between;
	align-items: center;

	font: {
		size: $quest-size;
		weight: $quest-weight;
	}

	//icon styles
	&:after {
		@include transition-mix();

		display: flex;
		align-items: center;
		justify-content: center;
		width: 20px;
		height: 20px;

		font: {
			size: $quest-icon-size;
			weight: $quest-icon-weight;
		}
		color: $quest-icon-color;
		text-align: center;

		content: '+';

		border: 1px solid currentColor;
		border-radius: 50%;
	}
}

.faqCard_quest___isActive {
	color: $quest-color-active;

	//icon styles
	&:after {
		transform: rotate(- 45deg);
	}
}