@import "assets/scss/colors";
@import "assets/scss/media-q";
@import "assets/scss/mixins";
@import "assets/scss/typography";

//settings
$nav-link-size: $font-size--sm;
$nav-link-weight: $font-weight--medium;
$nav-link-hover-color: $accent;

//styles
.nav_item {
	margin-bottom: 15px;

	&:last-child {
		margin-bottom: 0;
	}

	@media (min-width: $tablet-width) {
		margin-right: 55px;
		margin-bottom: 0;

		&:last-child {
			margin-right: 0;
		}
	}
}

.nav_link {
	@include transition-mix();

	font: {
		size: $nav-link-size;
		weight: $nav-link-weight;
	}

	cursor: pointer;

	&:hover {
		color: $nav-link-hover-color;
	}
}

.nav_link___isActive {
	color: $nav-link-hover-color;
}
