@import "assets/scss/media-q";
@import "assets/scss/mixins";

//styles
.card {
	@include transition-mix();

	width: 100%;
	padding: 15px 0;
	margin: auto;

	text-align: center;

	border-radius: 10px;

	@media (min-width: $mobile-width) {
		width: 45%;
		padding: 20px;

		&:hover {
			box-shadow: 0 15px 25px 0 rgba(95, 95, 101, 0.3);
		}
	}

	@media (min-width: $tablet-width) {
		width: 33%;
	}

	@media (min-width: $desktop-width) {
		padding: 40px;
	}
}
