.section {
	padding: 40px 0;
}

.section_titleBlock {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 650px;
	margin: 0 auto 84px;

	text-align: center;
}

.section_content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}