@import "../../assets/scss/colors";
@import "../../assets/scss/media-q";
@import "../../assets/scss/mixins";

//settings
$pricing-bg: $_green_persian;

//styles
.pricing {
	position: relative;

	background-color: $pricing-bg;

	@media (min-width: $tablet-width--sm) {
		background: url('./../../assets/img/pricing-bg.jpg') 0 0 no-repeat;
		background-size: cover;
	}

	//decoration graphics
	&:before,
	&:after {
		@include position-absolute();

		display: none;

		content: '';

		@media (min-width: $tablet-width--sm) {
			display: block;
		}
	}

	&:before {
		top: 0;
		left: -35px;

		width: 264px;
		height: 130px;

		background: url("./../../assets/img/pricing-decor-left.svg") 0 0 no-repeat;
		background-size: contain;
	}

	&:after {
		bottom: 0;
		right: -52px;

		width: 370px;
		height: 248px;

		background: url("./../../assets/img/pricing-decor-right.svg") 0 0 no-repeat;
		background-size: contain;
	}
}

.pricing_inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}