@import "../../assets/scss/colors";

//settings
$faq-bg: $accent-3;

//styles
.faq {
	background-color: rgba($faq-bg, .1);
}

.faq_btn {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 30px;
}