@import "../../../assets/scss/media-q";
@import "../../../assets/scss/typography";

//settings
$price-size: $font-size--md;
$price-size--lg: $font-size--xl;
$price-weight: $font-weight--medium;

//styles
.pricingCard_price {
	margin-top: 10px;

	font: {
		size: $price-size;
		weight: $price-weight;
	}
	text-align: center;

	span {
		font: {
			size: ($price-size--lg * .8);
		}

		@media (min-width: $tablet-width--sm) {
			font: {
				size: $price-size--lg;
			}
		}
	}
}

.pricingCard_price___featured {

	@media (min-width: $tablet-width--sm) {
		margin-top: 30px;
	}
}