@import "assets/scss/media-q";
@import "assets/scss/mixins";

.header {
	position: relative;

	height: auto;
	padding: 120px 0 50px;

	overflow-x: hidden;

	@media (min-width: $tablet-width) {
		height: 570px;
		padding: 0;
	}

	@media (min-width: $tablet-width) {
		height: 940px;
	}

	//decoration elements (including illustrations)
	&:before,
	&:after {
		@include position-absolute($top: 50%);

		content: '';
	}

	//abstract illustration block
	&:before {
		left: 100%;

		display: none;
		height: 100%;
		width: 100%;

		transform: translate(-25%, -50%);

		background: url(./../../assets/img/header-bg.svg) 0 0 no-repeat;

		@media (min-width: $tablet-width--sm) {
			display: block;
		}

		@media (min-width: $tablet-width) {
			transform: translate(-50%, -50%);
		}
	}

	//dashboard illustration block
	&:after {
		left: 100%;

		display: none;
		height: 80%;
		width: 80%;

		transform: translate(-25%, -50%);

		background: url("./../../assets/img/dashboard.svg") 0 0 no-repeat;

		@media (min-width: $mobile-width) {
			display: block;
		}

		@media (min-width: $tablet-width--sm) {
			transform: translate(-35%, -50%);
		}

		@media (min-width: $tablet-width) {
			transform: translate(-50%, -50%);
		}
	}
}

.header_inner {
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;

	@media (min-width: $mobile-width) {
		width: 80%;
	}

	@media (min-width: $tablet-width--sm) {
		width: 500px;
	}
}
