@import "assets/scss/media-q";

//styles
.cta_img {
	display: inline-flex;
	align-items: flex-start;
	flex-shrink: 0;
	width: 100%;
	margin-bottom: 30px;

	@media (min-width: $mobile-width) {
		width: 85%;
	}

	@media (min-width: $tablet-width--sm) {
		width: 75%;
	}

	@media (min-width: $tablet-width) {
		width: 55%;
		margin-left: 5%;
		margin-bottom: 0;
	}

	svg {
		width: 100%;
		height: auto;
	}
}

.cta_img___reversed {

	@media (min-width: $tablet-width) {
		width: 55%;
		margin-left: 0;
		margin-right: 5%;
	}
}
