@import "../../../assets/scss/colors";
@import "../../../assets/scss/media-q";
@import "../../../assets/scss/typography";

//settings
$title-size: $font-size--lg2;

//styles
.pricingCard_title {
	margin-bottom: 15px;

	font: {
		size: ($title-size * .75);
	}
	text-align: center;

	@media (min-width: $tablet-width--sm) {
		margin-bottom: 30px;

		font: {
			size: $title-size;
		}
	}
}

.pricingCard_title___featured {

	@media (min-width: $tablet-width--sm) {
		margin-bottom: 50px;
	}
}