@import "assets/scss/colors";
@import "assets/scss/media-q";
@import "assets/scss/typography";

//settings
$badge-bg: $accent;
$badge-color: $light;
$badge-size: $font-size--sm;

//styles
.section_badge {
	margin-bottom: 10px;
	padding: 2px 6px;

	font: {
		size: ($badge-size * .85);
		weight: $font-weight--bold;
	}
	color: $badge-color;
	text-transform: uppercase;
	letter-spacing: 1px;

	border-radius: 10px;
	background-color: $badge-bg;

	@media (min-width: $mobile-width) {
		font: {
			size: $badge-size;
		}
	}
}
