@import "assets/scss/media-q";
@import "assets/scss/mixins";

//styles
.testimonialCard {
	@include transition-mix();

	display: flex;
	flex-direction: column-reverse;
	align-content: flex-start;
	justify-content: space-between;
	width: 100%;
	margin: 0 auto 20px auto;
	padding: 20px;

	text-align: center;

	border-radius: 10px;
	box-shadow: -1px -2.8px 25px 0 rgba(78, 78, 78, 0.16);

	&:hover {
		box-shadow: 0px 9px 13px 0 rgba(111, 111, 111, 0.35);
	}

	&:last-child {
		margin-bottom: 0;
	}

	@media (min-width: $mobile-width) {
		flex-direction: row;
		width: 80%;

		text-align: left;
	}

	@media (min-width: $tablet-width--sm) {
		width: 65%;
	}

	@media (min-width: $tablet-width) {
		width: 48%;

		&:last-child,
		&:nth-last-child(2){
			margin-bottom: 0;
		}
	}
}
