@import "../../assets/scss/colors";

//settings
$card-bg: $light;

//styles
.pricingCard {
	display: flex;
	flex-direction: column;
	width: 30%;
	padding: 46px 34px;

	background-color: $card-bg;
	border-radius: 10px;
	box-shadow: -1.6px -4.7px 10px 0 rgba(0, 0, 0, 0.09);
}

.pricingCard_featuresList {
	list-style-type: none;
}

.pricingCard_btnBlock {
	display: flex;
	justify-content: center;
	margin-top: 25px;
}