@import "assets/scss/colors";
@import "assets/scss/typography";

//settings
$descr-color--light: $light;
$descr-size: $font-size--sm;

//styles
.section_descr {
	margin-top: 15px;

	font: {
		size: $descr-size;
	}
}

.section_descr___lightMode {
	color: $descr-color--light;
}
