//styles
.footer {
	padding: 70px 0;
}

.footer_inner {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 20px 0;
	width: 100%;
}

.footer_socials {
	margin-top: 25px;
}