@import "../../../assets/scss/mixins";

//styles
.testimonialCard_img {
	@include img-position($max-width: 150%, $max-height: 150%);

	flex-shrink: 0;
	width: 100px;
	height: 100px;
	margin-left: 20px;

	border-radius: 50%;
}