//COLOR SETTINGS

//basic colors !!!DO NOT USE THEM DIRECTLY

$_blue-navy: 				#0575e6;

$_green_mosque: 		#036358;
$_green_spring: 		#00f260;
$_green_persian: 		#02b4a3;

$_grey-mortar: 			#595959;
$_grey_nero: 				#222;

$_orange-tangerine: #ffaf10;

$_white: 						#fff;

//descriptive colors !!!USE THEM IN YOUR SETTINGS
$accent: $_orange-tangerine;
$accent-1: $_green_mosque;
$accent-2: $_green_persian;

$base: $_grey_mortar;
$base-1: $_grey_nero;

$gradient-1: $_blue-navy;
$gradient-2: $_green_spring;

$light: $_white;