//COLOR SETTINGS

//basic colors !!!DO NOT USE THEM DIRECTLY

$_blue-navy: #0575e6;

$_green: green;
$_green_mosque: #036358;
$_green_shamrock: #29d06a;
$_green_spring: #00f260;
$_green_persian: #02b4a3;

$_grey: #9f9f9f;
$_grey-mortar: #595959;
$_grey_nero: #222;

$_orange-tangerine: #ffaf10;

$_red: red;

$_white: #fff;

//descriptive colors !!!USE THEM IN YOUR SETTINGS
$accent: $_orange-tangerine;
$accent-1: $_green_mosque;
$accent-2: $_green_persian;
$accent-3: $_green_shamrock;

$base: $_grey_mortar;
$base-1: $_grey_nero;
$base-2: $_grey;

$danger: $_red;

$gradient-1: $_blue-navy;
$gradient-2: $_green_spring;

$light: $_white;

$success: $_green;
