//basic colors !!!DO NOT USE THEM DIRECTLY

$_green_mosque: 		#036358;

$_grey-mortar: 			#595959;
$_grey_nero: 				#222;

$_orange-tangerine: #ffaf10;

$_white: 						#fff;

//descriptive colors !!!USE THEM IN YOUR SETTINGS
$accent: $_orange-tangerine;
$accent-1: $_green_mosque;

$base: $_grey_mortar;
$base-1: $_grey_nero;

$light: $_white;