//MIXINS

//transitions mixin
@mixin transition-mix ($property: all, $duration: 0.2s, $timing: linear, $delay: 0s) {
	transition-property: $property;
	transition-duration: $duration;
	transition-timing-function: $timing;
	transition-delay: $delay;
}

//position absolute mixin
@mixin position-absolute ($top: null, $left: null, $right: null, $bottom: null) {
	position: absolute;
	top: $top;
	left: $left;
	right: $right;
	bottom: $bottom;
}

//mixin for image positioning
@mixin img-position($max-width: 200%, $max-height: 200%) {
	position: relative;
	overflow: hidden;

	img {
		@include position-absolute($top: 50%, $left: 50%);

		width: auto;
		height: auto;
		min-width: 100%;
		min-height: 100%;
		max-width: $max-width;
		max-height: $max-height;
		transform: translate(-50%, -50%);
	}
}
