//TYPOGRAPHY SETTINGS

//importing fonts
@font-face {
	font-family: 'Open Sans';
	font-weight: 400;
	src: local('Open Sans'), url(./../fonts/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 600;
	src: local('Open Sans'), url(./../fonts/OpenSans-SemiBold.ttf) format('truetype');
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 700;
	src: local('Open Sans'), url(./../fonts/OpenSans-Bold.ttf) format('truetype');
}

//font families
$font-family: 'Open Sans', sans-serif;

//font weight variables
$font-weight: 400;
$font-weight--medium: 600;
$font-weight--bold: 700;

//font size variables
$font-size: 16px;

//line height variables
$line-height: 1.562;