@import "assets/scss/media-q";

//styles
.cta {
	position: relative;

	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	width: 100%;

	text-align: center;

	z-index: 5;
}

.cta___noImg {
	@media (min-width: $mobile-width) {
		text-align: left;

		.cta_btnBlock {
			justify-content: flex-start;
		}
	}
}

.cta___withImg {
	@media (min-width: $tablet-width) {
		flex-direction: row;
		justify-content: space-between;

		text-align: left;
	}
}

.cta___reversed {

	@media (min-width: $tablet-width) {
		flex-direction: row-reverse;
	}
}

