@import "../../assets/scss/media-q";

//styles
.cta {
	position: relative;

	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	width: 100%;

	text-align: center;

	z-index: 5;

	@media (min-width: $tablet-width) {
		flex-direction: row;
		justify-content: space-between;

		text-align: left;
	}
}

.cta___reversed {

	@media (min-width: $tablet-width) {
		flex-direction: row-reverse;
	}
}

.cta_content {
	width: 100%;

	@media (min-width: $tablet-width--sm) {
		width: 85%;
		margin: auto;
	}

	@media (min-width: $tablet-width) {
		width: 42%;
		margin: 0;
	}
}

.cta_btnBlock {
	display: flex;
	justify-content: center;
	margin-top: 20px;

	@media (min-width: $tablet-width) {
		justify-content: flex-start;
	}
}