@import "../../assets/scss/colors";

//settings
$card-border: rgba($base-2, .3);

//styles
.faqCard {
	padding: 25px 0;

	border-bottom: 1px solid $card-border;

	cursor: pointer;

	&:first-child {
		padding-top: 0;
	}
}

.faqCard___isActive {
	background-color: rebeccapurple;
}