@import "../../../assets/scss/colors";
@import "../../../assets/scss/media-q";

//settings
$active-icons-color: $success;
$non-active-icons-color: $danger;

//styles
.pricingCard_feature {
	margin-bottom: 10px;

	text-align: center;

	&:last-child {
		margin-bottom: 0;
	}

	@media (min-width: $tablet-width--sm) {
		margin-bottom: 15px;

		text-align: left;
	}

	//icon styles
	svg {
		margin-right: 8px;

		color: $non-active-icons-color;
	}
}

.pricingCard_feature___active {

	svg {
		color: $active-icons-color;
	}
}
