@import "assets/scss/colors";
@import "assets/scss/media-q";
@import "assets/scss/typography";

//settings
$title-color: $base-1;
$title-color--light: $light;
$title-size: $font-size--lg;
$title-weight: $font-weight--medium;

//styles
.section_title {
	font: {
		size: ($title-size * .8);
		weight: $title-weight;
	}
	color: $title-color;

	@media (min-width: $mobile-width) {
		font: {
			size: $title-size;
		}
	}
}

.section_title___lightMode {
	color: $title-color--light;
}
