@import "assets/scss/colors";
@import "assets/scss/media-q";
@import "assets/scss/mixins";

//settings
$toggler-height: 20px;

$toggler-items-color: $base;
$toggler-items-height: 4px;
$toggler-items-space: ($toggler-height - ($toggler-items-height * 3)) / 2;

//styles
.nav_Toggler {
	position: relative;

	display: inline-flex;
	width: 30px;
	height: $toggler-height;

	@media (min-width: $tablet-width) {
		display: none;
	}

	span {
		@include position-absolute($left: 0);

		display: block;
		width: 100%;
		height: $toggler-items-height;

		background-color: $toggler-items-color;
		border-radius: $toggler-items-height;

		&:nth-child(1) {
			@include transition-mix($duration: .25s);

			top: 0;
		}

		&:nth-child(2) {
			top: $toggler-items-height + $toggler-items-space;
		}

		&:nth-child(3) {
			@include transition-mix($duration: .25s);

			top: ($toggler-items-height * 2) + $toggler-items-space * 2;
		}
	}
}

//clicked toggler styles
.nav_Toggler.isClicked {
	transform: translateX(50%);

	span {

		&:nth-child(1) {
			top: 50%;
			transform: rotate(45deg) translate(-50%, -50%);
			transform-origin: left top;
		}

		&:nth-child(2) {
			opacity: 0;
			visibility: hidden;
		}

		&:nth-child(3) {
			top: 50%;
			transform: rotate(-45deg)  translate(-50%, -50%);
			transform-origin: left top;
		}
	}
}
