@import "assets/scss/colors";
@import "assets/scss/mixins";

//settings
$item-link-hover: $accent-2;

//styles
.footer_colList {
	list-style-type: none;
}

.footer_colListItem {
	margin-bottom: 6px;

	&:last-child {
		margin-bottom: 0;
	}
}

.footer_colListLink {
	@include transition-mix();

	&:hover {
		color: $item-link-hover;
	}
}
