@import "assets/scss/colors";
@import "assets/scss/typography";

//settings
$card-title-color: $base-1;
$card-title-size: $font-size--md;
$card-title-weight: $font-weight;

//styles
.card_title {
	margin-bottom: 15px;

	font: {
		size: $card-title-size;
		weight: $card-title-weight;
	}
	color: $card-title-color;

	&:last-child {
		margin-bottom: 0;
	}
}
