@import "assets/scss/colors";
@import "assets/scss/media-q";
@import "assets/scss/typography";

//settings
$title-color: $base-1;

$title-size--xl: $font-size--xl;
$title-size--lg: ($font-size--lg * 1.4);
$title-size--md: ($font-size--lg * 1.25);

//styles
.cta_title {
	margin: 0 0 30px 0;

	font: {
		weight: $font-weight--medium;
	}
	color: $title-color;
}

.cta_title___xl {
	font: {
		size: ($title-size--xl * .7);
		weight: $font-weight--bold;
	}
	line-height: 1.25;

	@media (min-width: $tablet-width--sm) {
		font: {
			size: ($title-size--xl * .85);
		}
	}

	@media (min-width: $tablet-width) {
		font: {
			size: $title-size--xl;
		}
	}
}

.cta_title___lg {
	font: {
		size: ($title-size--lg * .65);
		weight: $font-weight--medium;
	}
	line-height: 1.25;

	@media (min-width: $tablet-width) {
		font: {
			size: ($title-size--lg * .8);
		}
	}

	@media (min-width: $desktop-width) {
		font: {
			size: $title-size--lg;
		}
	}
}

.cta_title___md {
	font: {
		size: ($title-size--lg * .65);
		weight: $font-weight--medium;
	}
	line-height: 1.25;

	@media (min-width: $tablet-width) {
		font: {
			size: ($title-size--lg * .8);
		}
	}

	@media (min-width: $desktop-width) {
		font: {
			size: $title-size--md;
		}
	}
}
