@import "../../../assets/scss/media-q";
@import "../../../assets/scss/mixins";

//styles
.testimonialCard_img {
	@include img-position($max-width: 150%, $max-height: 150%);

	flex-shrink: 0;
	width: 80px;
	height: 80px;
	margin: 0 auto 10px auto;

	border-radius: 50%;

	@media (min-width: $mobile-width) {
		width: 100px;
		height: 100px;
		margin: 0 0 0 20px;
	}
}