@import "assets/scss/colors";
@import "assets/scss/mixins";
@import "assets/scss/typography";

//settings
$icon-size: $font-size--md;
$icon-color-hover: $accent-2;

//styles
.socialIcons_item {
	margin-right: 20px;

	font: {
		size: $icon-size;
	}

	&:last-child {
		margin-right: 0;
	}

	&:hover {
		@include transition-mix();

		color: $icon-color-hover;
	}
}
